name: CI Процесс

on:
  push:
    branches:
      - develop
      - 'release/*'
  pull_request:
    branches:
      - develop
      - 'release/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Репозиторыг татах
        uses: actions/checkout@v4

      - name: JDK 17 тохируулах
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build, Test, Checkstyle, JaCoCo бүрэн шалгалт
        run: mvn -B clean verify
